.bg-dark{
    background-color: rgb(241, 234, 234);
   
}
.text-white{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.custom-image{
    border-radius: 500px;
    padding: 10px;
    width: calc(100% - 20px);
}

.custom-boton button ,.custom-boton div{
 
 color: rgb(17, 16, 16);
 border-color: white;
}

.shopping-cart{
    position: fixed;
    top: 0;
    right: 10px;
}